body {
    background-color: #15243f;
}

.setHead {
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
}

.heading {
    color: #fff;
}

.main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 90px;
}

.input {
    width: 600px;
    height: 54px;
    font-size: 1.5rem;
    color: #d4d8e4;
    border-radius: 10px;
    background-color: #434d65;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    border: none;
}

.input:focus {
    border: none;
    outline: none;
}

.input::placeholder {
    color: #959db3;
    padding: 5px;
}

.addBtn {
    background-color: #139e47;
    color: #fff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 56px;
    font-size: 1.3rem;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 70px;
    cursor: pointer;
}

.addBtn:focus {
    border: none;
    outline: none;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    width: 60px;
    height: 35px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.todoText {
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.checkbox {
    width: 15px;
    height: 15px;
}

.hiddenInput {
    border: 1px solid #e2e8f0;
    outline: none;
    width: 100%;
    background-color: transparent;
    border-radius: 0.375rem;
}

.afterChecked {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 30px;
  
}

.checkefFalse {
    border-color: transparent;
}

.lineThrough {
    text-decoration: line-through;
}

.itemList {
    margin: 0 auto;
    width: 675px;
    height: 54px;
    background-color: #ccbad6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    gap: 300px;
    align-items: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.bg-color-true {
    background-color: #c6e9a7;
}

.bg-color-false {
    background-color: #ccbed7;
}